body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #32CD32, #006400 );
    padding: 30px;
    color: #222;
}

h1 {
    color: lightgray;
    font-size: 75px;
    text-align: center;
}

p {
    color: ghostwhite;
    font-size: 20px;
    padding-left: 200px;
    padding-right: 200px;
}

.box {
    width: 150px;
    height: 75px;
    background-color: rgba(211, 211, 211, 0.7);
    padding: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

ul {
    list-style: none;
    padding-top: 0px;
}

li a {
    display: block;
    padding: 2px;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: rgba(211, 211, 211, 0.7);
    font-family: Arial, sans-serif;
}

th, td {
    border: 3px solid rgb(0 0 0);
    padding: 1px;
    text-align: center;
}

th {
    background-color: rgba(211, 211, 211, 0.7);
}

img {
    display: block;
}
